<!DOCTYPE HTML>
<html>
<head>
    <title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Graph CSS -->
    <link href="~/Content/fontawesome/font-awesome.css" rel="stylesheet" />
    <!-- jQuery -->
    <!-- lined-icons -->
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <!-- //lined-icons -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- chart -->
    <script src="~/Scripts/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <script src="~/Scripts/wow.min.js"></script>
    <script>
		 new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->

    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
