<div class="container main_content">
    <div id="response-msg">{{message}}</div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Login">Login</a></li>
                <li><a data-toggle="tab" href="#Register">Register</a></li>
            </ul>
            <div class="col-md-3 thumbnail panel panel-body img_auth">
                <img src="~/Images/user_icon.png" class="img-thumbnail" />
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-3 tab-content tab_main_data">
                <div id="Login" class="tab-pane fade in active" ng-controller="LoginController">
                    <form class="form-horizontal" method="POST" name="LoginForm" ng-submit="LoginToApp()">
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">* Email Address</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon reg_input_addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email" ng-model="emailId" autofocus required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">* Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon reg_input_addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" ng-model="password" ng-minlength="8" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Remember Me
                            </label>
                            <a data-toggle="modal" href="#forgotModal" id="forgot_password" class="pull-right" ng-click="showForm=true;ResponseContent=''">
                                Forgot Password
                            </a>
                        </div>
                        <div class="form-group ">
                            <div class="cols-sm-10">
                                <button type="submit" class="btn btn-primary loginbtn" ng-disabled="!LoginForm.password.$valid"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="cols-sm-12">
                                <a ng-click="authenticateExternalProvider('Facebook')" class="btn btn-primary ext_auth_btn"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a ng-click="authenticateExternalProvider('Google')" class="btn btn-primary ext_auth_btn pull-right"><i class="fa fa-google" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </form>

                    <!--Forgot Model  -->
                    <div class="modal fade" id="forgotModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Password Recovery</h4>
                                </div>
                                <div class="modal-body" style="padding: 40px 50px;">
                                    <form id="forgot_form" ng-submit="SendResetPassLink()"
                                          ng-show="showForm">
                                        <div class="form-group">
                                            <label for="email">
                                                <i class="fa fa-envelope" aria-hidden="true"></i> Email Address
                                            </label> 
                                            <input class="form-control" type="email" name=forgot_email
                                                            id="forgot_email" placeholder="Enter registered email address" required="true"
                                                            autofocus="true" ng-model="username" maxlength='39' />
                                            <div id="wait"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="submit" name="btn" ng-disabled="showResetBtn"><i class="fa fa-envelope-open" aria-hidden="true"></i> Send Link</button>
                                    </form>
                                    <div class="panel panel-primary panel-body quickResp" ng-show="isLoaded">{{message}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="Register" class="tab-pane fade" ng-controller="RegisterController">
                    <div class="main-login main-center">
                        <form class="form-horizontal" name="RegisterForm" ng-submit="RegisterAcc()">
                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon reg_input_addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" ng-model="name" autofocus required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon reg_input_addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email" ng-model="emailId" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon reg_input_addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" ng-maxlength="32" ng-model="password" ng-change="analyze(password)" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon reg_input_addon "><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="confirm" id="confirmPassword" placeholder="Confirm your Password" ng-minlength="6" ng-model="confirmPassword" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-style="passwordStrength"></div>
                                <div class="validation" ng-show="matchCase=(confirmPassword.length > 0 && confirmPassword != password )">Confirm password does not match.</div>
                            </div>

                            <div class="form-group ">
                                <div class="cols-sm-10">
                                    <button type="submit" class="btn btn-primary regbtn" ng-disabled="confirmPassword != password"><i class="fa fa-location-arrow" aria-hidden="true"></i> Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
