


<div class="row" ng-controller="resetPasswordController">
    <div class="col-lg-6 col-lg-offset-3">
        <br /><br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <label><i class="fa fa-key" aria-hidden="true"></i> Recover Password</label>
            </div>
            <div class="panel-body pass_box_area">
                <form class="form-horizontal" role="form" ng-submit="ChangeForgotPass()">
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="email" ng-model="ResetPassword.Email" class="form-control" placeholder="Enter Your Email" required disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" ng-model="ResetPassword.Password" class="form-control" placeholder="Enter Password" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" ng-model="ResetPassword.ConfirmPassword" class="form-control" placeholder="Re-enter Password" ng-minlength="6" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-12">
                            <button type="submit" ng-disabled="ResetPassword.ConfirmPassword != ResetPassword.Password" class="btn btn-info pull-right">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <p>
                    Password must be 6 character long and must contain<br />
                    - one uppercase letter.<br />
                    - one lowercase letter.<br />
                    - one number.<br />
                    - one special character.<br />
                </p>
            </div>
        </div>
    </div>
</div>




